mixin button(url, name, type, ...classes)
  if (type === "link")
    a.btn(href=url class=classes)
      if (block)
        .btn__svg
          block
      if (name)
        .btn__name 
          != name
  else if (type === "button" || type === "submit")
    button.btn(type=type class=classes)
      if (block)
        .btn__svg
          block
      if (name)
        .btn__name 
          != name