mixin bread
  .bread
    a.bread__tab(href="#")
      .bread__link
        |Главная
      .bread__arrow
        +left-arrow
    .bread__tab.bread__tab_cur
      .bread__link
        |Контакты
      .bread__arrow
        +down-arrow