.bread {
  margin-top: rem(169px);

  display: flex;
  gap: rem(16px);

  position: relative;

  @media #{media("<")} {
    margin-top: rem(117px);
  }

  &__tab {
    display: flex;
    align-items: center;
    gap: rem(8px);

    color: #364a46;
    font-family: 'TT Firs Neue';
    font-size: rem(16px);
    font-style: normal;
    font-weight: 600;
    line-height: 90%;
    text-transform: uppercase;

    &:hover {
      $comp: &;
      color: #0a8;

      svg path {
        stroke: #0a8;
      }
    }

    &_cur {
      color: #0a8;
    }
  }
}

.contact-inner {
  padding-inline: rem(24px);

  @media #{media("<")} {
    padding-inline: rem(12px);
  }
}
