mixin contact-form
  .contact-form
    h2.contact-form__title 
      |Связаться с нами
    +form
    .contact-form__img.contact-form__img_blue
      +blue-wave
    .contact-form__img.contact-form__img_yellow
      +yellow-heart