mixin address
  .address
    .address__block
      +address-card("Офис", "194044", "Санкт-петербург, Беловодский переулок,&nbsp;6", "пн-пт: 9–17:30", "address-card_green")
      +address-card("Производство", "194044", "Санкт-Петербург, пер. Зеленков,&nbsp;6, лит. А, корп.&nbsp;1, пом.&nbsp;11", "пн-пт: 9–17:30", "address-card_blue")
    +map("address__map")