mixin socials(mods)
  ul.socials-list
    li 
      a.socials-list__link(href="https://www.vk.com" target="_blank")
        +vk
    li 
      a.socials-list__link(href="https://ok.ru/" target="_blank")
        +ok
    li 
      a.socials-list__link(href="https://www.youtube.com" target="_blank")
        +youtube
    li 
      a.socials-list__link(href="https://rutube.ru" target="_blank")
        +rutube