mixin socials(mods)
  ul.socials-list
    li 
      a.socials-list__link(href="https://www.vk.com")
        +vk
    li 
      a.socials-list__link(href="https://ok.ru/")
        +ok
    li 
      a.socials-list__link(href="https://www.youtube.com")
        +youtube
    li 
      a.socials-list__link(href="https://rutube.ru")
        +rutube