mixin cards
  .cards
    +card-item("Секретарь", "Как стать умнее или избавиться от йододефицита", "88124485465", "help_gendir@lekker.ru", "card-item_green")
    +card-item("Отдел продаж", "", "88127027262", "prodazha@lekker.ru", "card-item_pink")
    +card-item("Отдел рекламы", "", "", "reklama@lekker.ru", "card-item_yellow")