mixin cards 
  p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta laudantium blanditiis incidunt cupiditate, neque suscipit non nam tenetur quam maxime perferendis debitis sapiente, ab voluptatibus unde quidem enim modi laboriosam.