mixin card-item(title, descr, number, number_view, mail, ...classes)
  .card-item(class=classes)
    h3.card-item__title
      =title
    if (descr)
      p.card-item__descr
        =descr
    .card-item__block 
      if (number && number_view)
        a.card-item__tel(href=`tel:${number}`)
          =number_view
      if (mail)
        a.card-item__mail(href=`mailto:${mail}`)
          =mail