-
  var menuData = [
    {
      title: "О&nbsp;компании",
      url: "about.html"
    },
    {
      title: "Новости",
      url: "news.html"
    },
    {
      title: "Контакты",
      url: "contacts.html"
    },
    {
      title: "Где&nbsp;купить",
      url: "buy.html"
    }
  ];

footer
  .footer
    .footer-main
      .footer-main__col-1 
        a.footer-main__logo(href="#")
          +footer-logo
        .footer-main__man
          +man
      nav.footer-main__col-2 
        ul.footer-menu
          each item in menuData
            li.footer-menu__item 
              a(href=item.url)!= item.title 
      .footer-main__col-3 
        a.footer-main__tel(href="tel:88124485465")
          |8&nbsp;812&nbsp;448-54-65
        a.footer-main__mail(href="mailto:info@lekker.ru")
          |info@lekker.ru
      .footer-main__col-4
        +socials
      .footer-main__col-5
        +button("#", "Стать&nbsp;партнером", "link", "", "btn_pink", "px-32")
      .footer-main__col-6
        p.footer-main__downtext
          |© 2002-2023 ООО «Леккер»
      a.footer-main__col-7(href="#")
        p.footer-main__downtext.footer-main__downtext_black.footer-main__downtext_hover
          |Политика в отношении обработки персональных данных
      a.footer-main__col-8(href="#")
        p.footer-main__downtext.footer-main__downtext_black
          |Сделано в 
          span.footer-main__downtext_pink
            |CloudMill
    .footer-down 
      p.footer-down__subtext
        |ИМЕЮТСЯ ПРОТИВОПОКАЗАНИЯ, НЕОБХОДИМО ПРОКОНСУЛЬТИРОВАТЬСЯ СО СПЕЦИАЛИСТОМ