@font-face {
  font-family: 'TT Rounds Neue';
  font-style: normal;
  font-weight: 620;
  font-display: swap;
  src: url('../fonts/ttroundsneue-demibold.woff') format('woff');
}
@font-face {
  font-family: 'TT Rounds Neue';
  font-style: normal;
  font-weight: 420;
  font-display: swap;
  src: url('../fonts/ttroundsneue-regular.woff') format('woff');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/Rubik-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Rubik-VariableFont_wght.woff') format('woff');
}
@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/Rubik-italic-VariableFont_wght.woff') format('woff');
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/Rubik-SemiBold.woff') format('woff');
}
@font-face {
  font-family: 'TT Firs Neue';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/TTFirsNeue-DemiBold.woff') format('woff');
}
