-
  var menuData = [
    {
      title: "О&nbsp;компании",
      url: "about.html"
    },
    {
      title: "Новости",
      url: "news.html"
    },
    {
      title: "Где&nbsp;купить",
      url: "buy.html"
    },
    {
      title: "Контакты",
      url: "contacts.html"
    }
  ];

.inner-content
  header.header
    a.header__logo.col-1(href="#")
      svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 173 32" fill="none")
        path(d="M72.2436 13.1345C72.6032 12.2939 73.1493 11.5904 73.864 11.0488C74.8372 10.3094 76.0419 9.93403 77.4398 9.93403C78.3658 9.93403 79.2199 10.1003 79.975 10.4307C80.7235 10.7566 81.364 11.2398 81.8787 11.8624C82.3169 12.3928 82.6541 13.0199 82.9125 13.6986H72.6571C72.5066 13.6986 72.374 13.6312 72.2885 13.5121C72.2054 13.3974 72.1897 13.2603 72.2436 13.1345ZM82.8339 7.18309C81.2628 6.27734 79.4491 5.81885 77.4398 5.81885C74.4844 5.81885 71.9829 6.78303 70.0028 8.68667C68.0273 10.5881 67.0249 12.9884 67.0249 15.8225C67.0249 18.6566 68.0273 21.0569 70.0028 22.9583C71.9807 24.862 74.4821 25.8262 77.4398 25.8262C79.6739 25.8262 81.6899 25.2485 83.4317 24.1091C84.6723 23.2955 85.6882 22.2459 86.4501 20.9873C86.7175 20.5468 86.713 20.0208 86.4433 19.5826C86.1736 19.1443 85.6927 18.8836 85.1578 18.8836H83.2879C82.8046 18.8836 82.3506 19.1061 82.0787 19.4769C81.818 19.8298 81.5078 20.1445 81.1617 20.4119C80.6785 20.7827 80.1166 21.0704 79.4896 21.2727C78.858 21.475 78.1703 21.5784 77.4421 21.5784C75.9497 21.5784 74.6889 21.1693 73.6932 20.367C72.9336 19.7534 72.3919 18.9645 72.0795 18.0183C72.0368 17.888 72.0615 17.7531 72.147 17.643C72.2301 17.5351 72.3582 17.4744 72.4976 17.4744H86.2568C87.0547 17.4744 87.7222 16.8653 87.7424 16.1169L87.7469 15.8607C87.7469 14.0357 87.3199 12.3456 86.4748 10.8375C85.6275 9.31596 84.4026 8.08883 82.8339 7.18309Z" fill="#00AA88")
        path(d="M100.888 15.8472C100.673 15.591 100.673 15.2336 100.886 14.9774L106.278 8.53832C106.635 8.11354 106.7 7.54492 106.449 7.05497C106.197 6.56501 105.685 6.2616 105.109 6.2616H103.406C102.943 6.2616 102.516 6.45938 102.232 6.801L96.8294 13.339C96.6518 13.557 96.4113 13.4986 96.3416 13.4761C96.272 13.4536 96.0472 13.3592 96.0472 13.085V7.66629C96.0472 6.8909 95.3797 6.2616 94.5594 6.2616H92.7794C91.959 6.2616 91.2915 6.8909 91.2915 7.66629V23.9764C91.2915 24.7518 91.959 25.3811 92.7794 25.3811H94.5594C95.3797 25.3811 96.0472 24.7518 96.0472 23.9764V17.8969C96.0472 17.6227 96.2742 17.5283 96.3439 17.5059C96.4158 17.4856 96.6541 17.4272 96.8316 17.6452L102.702 24.835C102.983 25.1766 103.424 25.3811 103.88 25.3811H105.826C106.401 25.3811 106.916 25.0777 107.166 24.5878C107.415 24.0978 107.35 23.5292 106.99 23.1022L100.888 15.8472Z" fill="#00AA88")
        path(d="M167.527 15.8224C167.527 17.4451 166.956 18.8139 165.828 19.8882C164.688 20.976 163.279 21.5064 161.524 21.5064C159.769 21.5064 158.362 20.9782 157.22 19.8882C156.078 18.7981 155.523 17.4676 155.523 15.8224C155.523 14.7504 155.779 13.7705 156.289 12.9074C156.795 12.0489 157.519 11.3656 158.44 10.8779C159.366 10.388 160.409 10.1385 161.544 10.1385C163.263 10.1385 164.704 10.6824 165.83 11.7567C166.956 12.831 167.527 14.1997 167.527 15.8224ZM170.972 10.7071C170.076 9.17882 168.813 7.96966 167.219 7.11111C165.626 6.25481 163.812 5.82104 161.832 5.82104C159.548 5.82104 157.53 6.41214 155.833 7.58084C155.626 7.72243 155.37 7.76289 155.134 7.68872C154.909 7.61905 154.741 7.45722 154.669 7.24146C154.471 6.65711 153.9 6.2638 153.251 6.2638H152.473C151.653 6.2638 150.985 6.89311 150.985 7.6685V30.5953C150.985 31.3684 151.653 32 152.473 32H154.253C155.074 32 155.741 31.3707 155.741 30.5953V25.2777C155.741 25.0237 155.88 24.7945 156.116 24.6641C156.341 24.5383 156.595 24.5338 156.82 24.6529C158.301 25.4328 159.987 25.8283 161.834 25.8283C164.837 25.8283 167.363 24.8687 169.341 22.9785C171.319 21.0883 172.321 18.6813 172.321 15.8247C172.319 13.9525 171.865 12.2332 170.972 10.7071Z" fill="#00AA88")
        path(d="M58.2282 7.12234C57.9945 6.60091 57.4573 6.26379 56.8572 6.26379H55.6211C55.039 6.26379 54.5063 6.58743 54.2659 7.08638L46.4176 23.3965C46.2063 23.8326 46.2467 24.3337 46.5209 24.7383C46.7951 25.1406 47.2649 25.3833 47.7728 25.3833H49.6517C50.2406 25.3833 50.7732 25.0552 51.0115 24.5473L55.7919 14.3526C55.8975 14.1256 56.1178 14.1053 56.1942 14.1053C56.2526 14.1008 56.4954 14.1211 56.5988 14.3638L60.9095 24.5023C61.1365 25.0372 61.6781 25.3833 62.2894 25.3833H64.1549C64.6538 25.3833 65.1191 25.1473 65.3955 24.754C65.672 24.3607 65.7191 23.8663 65.5259 23.4302L58.2282 7.12234Z" fill="#00AA88")
        path(d="M119.732 15.8472C119.516 15.591 119.516 15.2336 119.729 14.9774L125.121 8.53832C125.478 8.1113 125.544 7.54492 125.294 7.05497C125.045 6.56501 124.53 6.2616 123.955 6.2616H122.251C121.79 6.2616 121.361 6.45938 121.078 6.801L115.675 13.339C115.499 13.5525 115.259 13.4986 115.189 13.4761C115.12 13.4536 114.895 13.3592 114.895 13.085V7.66629C114.895 6.8909 114.227 6.2616 113.407 6.2616H111.627C110.807 6.2616 110.139 6.8909 110.139 7.66629V23.9764C110.139 24.7518 110.807 25.3811 111.627 25.3811H113.407C114.227 25.3811 114.895 24.7518 114.895 23.9764V17.8969C114.895 17.6227 115.122 17.5283 115.192 17.5059C115.261 17.4856 115.502 17.4272 115.679 17.6452L121.55 24.835C121.831 25.1766 122.271 25.3811 122.727 25.3811H124.674C125.249 25.3811 125.764 25.0777 126.013 24.5878C126.263 24.0978 126.198 23.5292 125.838 23.1022L119.732 15.8472Z" fill="#00AA88")
        path(d="M143.083 13.6964H132.825C132.675 13.6964 132.542 13.6289 132.459 13.5098C132.378 13.3952 132.362 13.2581 132.416 13.1322C132.778 12.2894 133.322 11.5882 134.037 11.0466C135.01 10.3071 136.212 9.93178 137.613 9.93178C138.541 9.93178 139.393 10.0981 140.148 10.4285C140.896 10.7566 141.537 11.2376 142.051 11.8601C142.485 12.3906 142.822 13.0176 143.083 13.6964ZM143.007 7.18309C141.436 6.27734 139.62 5.81885 137.61 5.81885C134.655 5.81885 132.153 6.78303 130.173 8.68667C128.198 10.5881 127.195 12.9884 127.195 15.8225C127.195 18.6566 128.198 21.0569 130.173 22.9583C132.151 24.862 134.653 25.8262 137.61 25.8262C139.844 25.8262 141.86 25.2485 143.602 24.1091C144.845 23.2977 145.859 22.2459 146.623 20.985C146.888 20.5445 146.886 20.0186 146.616 19.5803C146.346 19.1421 145.865 18.8814 145.328 18.8814H143.458C142.975 18.8814 142.523 19.1039 142.249 19.4747C141.986 19.8298 141.678 20.1422 141.33 20.4097C140.849 20.7805 140.285 21.0704 139.658 21.2705C139.026 21.4727 138.338 21.5761 137.61 21.5761C136.098 21.5761 134.873 21.1805 133.859 20.3647C133.1 19.7534 132.558 18.9623 132.248 18.0161C132.205 17.8857 132.23 17.7486 132.315 17.6407C132.398 17.5328 132.526 17.4722 132.666 17.4722H146.425C147.223 17.4722 147.89 16.8631 147.913 16.1102L147.915 15.8585C147.915 14.0357 147.486 12.3456 146.645 10.8353C145.798 9.31597 144.573 8.08883 143.007 7.18309Z" fill="#00AA88")
        path(d="M9.51807 31.6472H13.1118C15.674 22.2301 23.5425 14.8021 33.5147 12.3815V8.98779C21.6096 11.5387 12.2218 20.4029 9.51807 31.6472Z" fill="#00AA88")
        path(d="M0.197754 31.6471H3.75556C6.62787 17.4609 18.4925 6.25703 33.517 3.54654V0.186523C16.5574 2.97568 3.15098 15.6336 0.197754 31.6471Z" fill="#00AA88")
        path(d="M18.9937 31.6471H33.517V17.9351C26.6621 20.0545 21.2389 25.1743 18.9937 31.6471Z" fill="#00AA88")
        path(d="M17.616 0H0V16.6338C4.17137 9.70024 10.2733 3.93763 17.616 0Z" fill="#00AA88")
    .col-2
      a.btn.btn_pink(href="#")
        .btn__svg 
          svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none")
            path(d="M5 10C3.9 10 3 10.9 3 12C3 13.1 3.9 14 5 14C6.1 14 7 13.1 7 12C7 10.9 6.1 10 5 10Z" stroke="white" stroke-width="2")
            path(d="M19 10C17.9 10 17 10.9 17 12C17 13.1 17.9 14 19 14C20.1 14 21 13.1 21 12C21 10.9 20.1 10 19 10Z" stroke="white" stroke-width="2")
            path(d="M12 10C10.9 10 10 10.9 10 12C10 13.1 10.9 14 12 14C13.1 14 14 13.1 14 12C14 10.9 13.1 10 12 10Z" stroke="white" stroke-width="2")
        .btn__name
          |Продукция
    .col-3
      a.btn.btn_grey(href="#")
        .btn__svg
          svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none")
            path(d="M11.5 21C16.7467 21 21 16.7467 21 11.5C21 6.25329 16.7467 2 11.5 2C6.25329 2 2 6.25329 2 11.5C2 16.7467 6.25329 21 11.5 21Z" stroke="#364A46" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
            path(d="M22 22L20 20" stroke="#364A46" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
    nav.col-4
      ul.menu
        each item in menuData
          li.menu__item 
            a(href=item.url)!= item.title 
    a.header__tel.col-5(href="tel:88124485465")
      |8&nbsp;812&nbsp;448-54-65
    a.btn.btn_grey.col-6.px-32(href="#")
      .btn__name 
        |Стать&nbsp;партнером
    .col-7 
      a.btn.btn_grey(href="#")
        .btn__svg 
          svg(xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none")
            path(d="M14.6467 12.22C14.6467 12.46 14.5934 12.7067 14.48 12.9467C14.3667 13.1867 14.22 13.4134 14.0267 13.6267C13.7 13.9867 13.34 14.2467 12.9334 14.4134C12.5334 14.58 12.1 14.6667 11.6334 14.6667C10.9534 14.6667 10.2267 14.5067 9.46004 14.18C8.69337 13.8534 7.92671 13.4134 7.16671 12.86C6.40004 12.3 5.67337 11.68 4.98004 10.9934C4.29337 10.3 3.67337 9.57337 3.12004 8.81337C2.57337 8.05337 2.13337 7.29337 1.81337 6.54004C1.49337 5.78004 1.33337 5.05337 1.33337 4.36004C1.33337 3.90671 1.41337 3.47337 1.57337 3.07337C1.73337 2.66671 1.98671 2.29337 2.34004 1.96004C2.76671 1.54004 3.23337 1.33337 3.72671 1.33337C3.91337 1.33337 4.10004 1.37337 4.26671 1.45337C4.44004 1.53337 4.59337 1.65337 4.71337 1.82671L6.26004 4.00671C6.38004 4.17337 6.46671 4.32671 6.52671 4.47337C6.58671 4.61337 6.62004 4.75337 6.62004 4.88004C6.62004 5.04004 6.57337 5.20004 6.48004 5.35337C6.39337 5.50671 6.26671 5.66671 6.10671 5.82671L5.60004 6.35337C5.52671 6.42671 5.49337 6.51337 5.49337 6.62004C5.49337 6.67337 5.50004 6.72004 5.51337 6.77337C5.53337 6.82671 5.55337 6.86671 5.56671 6.90671C5.68671 7.12671 5.89337 7.41337 6.18671 7.76004C6.48671 8.10671 6.80671 8.46004 7.15337 8.81337C7.51337 9.16671 7.86004 9.49337 8.21337 9.79337C8.56004 10.0867 8.84671 10.2867 9.07337 10.4067C9.10671 10.42 9.14671 10.44 9.19337 10.46C9.24671 10.48 9.30004 10.4867 9.36004 10.4867C9.47337 10.4867 9.56004 10.4467 9.63337 10.3734L10.14 9.87337C10.3067 9.70671 10.4667 9.58004 10.62 9.50004C10.7734 9.40671 10.9267 9.36004 11.0934 9.36004C11.22 9.36004 11.3534 9.38671 11.5 9.44671C11.6467 9.50671 11.8 9.59337 11.9667 9.70671L14.1734 11.2734C14.3467 11.3934 14.4667 11.5334 14.54 11.7C14.6067 11.8667 14.6467 12.0334 14.6467 12.22Z" stroke="#364A46" stroke-width="1.5" stroke-miterlimit="10")
            path(d="M13.3334 2.66675H10.1334M13.3334 2.66675V5.86675V2.66675Z" stroke="#364A46" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
    button(type="button").btn.btn_pink.col-8
      .btn__svg
        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none")
          path(d="M5 5.25C4.58579 5.25 4.25 5.58579 4.25 6C4.25 6.41421 4.58579 6.75 5 6.75H19C19.4142 6.75 19.75 6.41421 19.75 6C19.75 5.58579 19.4142 5.25 19 5.25H5Z" fill="white")
          path(d="M5 11.25C4.58579 11.25 4.25 11.5858 4.25 12C4.25 12.4142 4.58579 12.75 5 12.75H19C19.4142 12.75 19.75 12.4142 19.75 12C19.75 11.5858 19.4142 11.25 19 11.25H5Z" fill="white")
          path(d="M5 17.25C4.58579 17.25 4.25 17.5858 4.25 18C4.25 18.4142 4.58579 18.75 5 18.75H19C19.4142 18.75 19.75 18.4142 19.75 18C19.75 17.5858 19.4142 17.25 19 17.25H5Z" fill="white")
