-
  var menuData = [
    {
      title: "О&nbsp;компании",
      url: "about.html"
    },
    {
      title: "Новости",
      url: "news.html"
    },
    {
      title: "Где&nbsp;купить",
      url: "buy.html"
    },
    {
      title: "Контакты",
      url: "contacts.html"
    }
  ];

.inner-content
  header.header
    a.header__logo.col-1(href="#")
      +header-logo
    .col-2
      //a.btn.btn_pink(href="#")
        .btn__svg 
          +dots
        .btn__name
          |Продукция
      +button("#", "Продукция", "link", "btn_pink", "px-32")
        +dots
    .col-3
      +button("#", "", "link", "btn_grey")
        +search    
    nav.col-4
      ul.menu
        each item in menuData
          li.menu__item 
            a(href=item.url)!= item.title 
    a.header__tel.col-5(href="tel:88124485465")
      |8&nbsp;812&nbsp;448-54-65
    .col-6
      +button("#", "Стать&nbsp;партнером", "link", "btn_grey", "px-32")
    .col-7 
      +button("#", "", "link", "btn_grey")
        +phone   
    .col-8
      +button("#", "", "btn", "btn_pink")
        +burger

